.products {
    padding: 64px 48px;
}

.section_title {
color: #ffffff;
font-size: 24px;
text-align: center;
font-weight: 700;
margin-bottom: 24px;
}

.cards {
display: flex;
gap: 8px;
flex-wrap: wrap;
justify-content: center;
}